# ─── DATABASE SETTINGS ───────────────────────────────────────
# የቀድሞው (Local DB): mongodb://localhost:27017/gbiDB
# ለአዲሱ (Cloud DB): ከታች ያለውን የሞንጎ አትላስ ሊንክዎን ያስገቡ
MONGO_URI=mongodb://localhost:27017/gbiDB

# ─── SERVER SETTINGS ─────────────────────────────────────────
PORT=5001
USE_IN_MEMORY_DB=false
